<!DOCTYPE html>
<html lang="en" ng-app="pullorerApp">
  <head>
    <title>Github Pull Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8"/> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="_css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body id="ctrl" ng-controller="PullorerController">
    <div class="container-fluid">
      <h1>Github Pull Explorer</h1>
        <p id="status">&nbsp;</p>
        <div class="row">
        <div class="input-group">
          <span class="input-group-addon" id="org-name-label">Organization Name</span>
          <input type="text" class="form-control" placeholder="e.g. lodash" aria-describedby="org-name-label" ng-model-options="{updateOn: 'change blur'}" ng-change="loadRepos()" ng-model="org.name" required=required onchange="" />
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!org.name.trim()" id="dropdownMenuButton">
              Choose Repository...
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li ng-repeat="repo in repos">
                <a class="dropdown-item" href="#" onclick="setRepoTo(this.innerHTML)">{{repo.name}}</a>
              </li>
            </ul>
          </div>
          <input id="org-name" type="text" class="form-control" ng-model-options="{updateOn: 'change blur'}" ng-change="loadPulls()" ng-model="org.repo" required=required ng-disabled="!org.name.trim()" placeholder="Repository name..." />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table table-responsive" id="pull-table">
            <tr>
              <th id="pull-count"></th>
            </tr>
            <tr ng-repeat="p in pulls">
              <td ng-click="setPull($index)">#{{p.number}}, Created ({{p.created_at.substring(0, 10)}}) by {{p.user.login}}<br/>Status: {{p.state.toUpperCase()}} <em ng-if="p.merged_at">&mdash; Merged on {{p.merged_at.substring(0, 10)}}</em></td>
            </tr>
          </table> 
        </div>
        <div class="col">
          <table class="table table-responsive" ng-if="pull">
            <tr><th>Pull #</th><td><a href="{{pull.html_url}}" target="_blank">{{pull.number}}</a></td></tr>
            <tr><th>Created At:</th><td>{{pull.created_at.substring(0, 10)}}</td></tr>
            <tr><th>State:</th><td>{{pull.state.toUpperCase()}}</td></tr>
            <tr ng-if="pull.closed_at"><th>Closed At:</th><td>{{pull.closed_at.substring(0, 10)}}</td></tr>
            <tr><th>Title:</th><td>{{pull.title}}</td></tr>
            <tr>
              <th>Merged?</th>
              <td ng-if="pull.merged_at">Yes, at {{pull.merged_at.substring(0, 10)}}</td>
              <td ng-if="!pull.merged_at">no</td>
            </tr>
            <tr><th>User:</th><td><a target="_blank" href="{{pull.user.url}}"><img width="64" height="64" ng-src="{{pull.user.avatar_url}}" /> {{pull.user.login}}</td></tr>
            <tr><th>Patch:</th><td><a target="_blank" href="{{pull.patch_url}}">link</a></td></tr>
            <tr><th>Body:</th><td><textarea readonly=readonly>{{pull.body}}</textarea></td></tr>
            <tr><th>Raw Record:</th><td><textarea readonly=readonly>{{pull}}</textarea></td></tr>
          </table>
        </div>
      </div>
      <div id="console">
        <button id="console-button" type="button" class="btn btn-info" onclick="toggleConsole()">Toggle Console</button>
        <input id="console-input" type="text" onkeyup="event.keyCode == 13 ? updateConsole(this) : false" value="pulls.filter(function(x) { return x.merged_at != null; })" />
        <pre id="console-output"></pre>
      </div>
    </div>
    <div id="loading">&nbsp;</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>    
    <script type="text/javascript" src="_js/app.js"></script>
  </body>
</html>
